<div class="row">
  <div class="col-sm-12 col-md-6 container-div">
    <app-counter-display>
      <h1 class="text-center" id="counter">{{timer}}</h1>
    </app-counter-display>
  </div>
  <div class="col-sm-12 col-md-6 container-div input-container">
    <app-counter-input
      (start) = "handleStartChange($event)"
      (pause) = "handlePauseChange($event)"
      (reset) = "handleResetChange($event)"
      [pauseArray]="pauseArray"
    >
    </app-counter-input>
  </div>
</div>

<div class="row">
  <div class="col-sm-12 col-md-6 container-div log-container custom-scroll">
    <app-counter-log [actionArray]="actionArray"></app-counter-log>
  </div>
  <div class="col-sm-12 col-md-6 container-div">
    <app-counter-log-display [pauseCount]="pauseCount" [startCount]="startCount"></app-counter-log-display>
  </div>
</div>
