<div class="row">
    <div class="col-sm-12 col-md-6 container-div">
      <app-counter-display>
        
      </app-counter-display>
    </div>
    <div class="col-sm-12 col-md-6 container-div input-container">
      <app-counter-input>
      </app-counter-input>
    </div>
  </div>
  
  <div class="row">
    <div class="col-sm-12 col-md-6 container-div log-container custom-scroll">
      <app-counter-log></app-counter-log>
    </div>
    <div class="col-sm-12 col-md-6 container-div">
      <app-counter-log-display></app-counter-log-display>
    </div>
  </div>
  