.row{
    justify-content: center;
    margin-right: 0;
    margin-left: 0;
    .container-div{
      background-color: #DDE5EB;
      width: 40%;
      margin: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 20px;
      &.log-container{
        max-height: 300px;
        overflow-y: auto;
        padding: 10px;
      }
    }
  }
  