.start-container, .pause-container{
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.log-container{
  display: flex;
}

p{
  font-size: 1rem;
}
